<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-white">
                    <br>
                    <div class="card bg-dark" >
                        <div class="card-body">
                            <br>
                          <h5 class="card-title">Create Account</h5>
                          <div class="row g-3">
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <label for="" class="form-label">Username</label>
                                <input name="username" [(ngModel)]="username" type="text" class="form-control">
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <label for="" class="form-label">Password</label>
                                <input name="password" [(ngModel)]="password" type="password" class="form-control">
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                                <label for="" class="form-label">Confirm Password</label>
                                <input name="cpassword" [(ngModel)]="cpassword" type="password" class="form-control">
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                                <button (click)="register()" class="btn btn-secondary" routerLink="/">Register</button>
                            </div>
                        </div>
                          
                        </div>
                      </div>
            </div>
        </div>
    </div>
</div>

